/* add custom styles */
#playerOne {
  width: 350px;
  height: 350px;
  background-color: #2C92DF;
  color: white;
  text-align: center;
}

#playerTwo {
    width: 350px;
    height: 350px;
    background-color: #2C92DF;
    color: white;
    text-align: center;
}

.counter {
    font-size: 150px;
}


button {
  background-color: #2C92DF;
}
