/* add custom styles */
button {
  background-color: #2C92DF;
}

.reset{
  background-color: white;
}

.win {
  background-color: green;
}

.loss {
  background-color: red;
}

#playerOne {
  width: 350px;
  height: 350px;
  color: white;
  text-align: center;
}

#playerTwo {
    width: 350px;
    height: 350px;
    color: white;
    text-align: center;
}

.counter {
    font-size: 150px;
}






