<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>


      <h2>Ping Pong Score Keeper</h2>

    <div ng-controller="Game">

    <div class = "row">

    <div class="row">

      <div class="col-xs-3">

      <button ng-click="countOne()" ng-class="{win: scoreOne ===11}">

        <div id="playerOne" ng-class="{loss: scoreTwo ===11}">

        <h3>Player 1</h3>

        <p class="counter"> {{ scoreOne }}</p>

        <p class="serving"> {{ servingOne }}</p>




        </div>

      </button>

      </div>


      <div class="col-xs-3">

      <button ng-click="countTwo()" ng-class="{win: scoreTwo ===11}">

        <div id="playerTwo" ng-class="{loss: scoreOne ===11}">

          <h3>Player 2</h3>

          <p class="counter"> {{ scoreTwo }}</p>

          <p class="serving"> {{ servingTwo }}</p>

        </div>

      </button>

     <!--  </div> -->
    </div>



    </div>

    <div class="row">

    <div class="col-xs-2 col-xs-offset-2 text-center">
    <button class="reset" ng-click="reset()">Reset</button>
    </div>

    </div>

    </div>

  </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js">
  </script>

  <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
