<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>


      <h2>Ping Pong Score Keeper</h2>

    <div class = "row">


    <div ng-controller="PlayerOne">
      <div class="col-xs-3">

      <button ng-click="countOne()">

        <div id="playerOne">

        <h3>Player 1</h3>

        <p class="counter"> {{ scoreOne }}</p>

        <p class="serving" ng-hide="(counterOne + counterTwo) % 2 === 0"> {{ serving }}</p>

        </div>

      </button>

      </div>
    </div>


    <div ng-controller="PlayerOne">
      <div class="col-xs-3">

      <button ng-click="countTwo()">

        <div id="playerTwo">

          <h3>Player 2</h3>

          <p class="counter"> {{ scoreTwo }}</p>

        </div>

      </button>

      </div>
    </div>






  </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js">
  </script>

  <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
